{% extends "index.html" %} 

{% block title %}Matter - As the sanctuary seers closer.{% endblock title %} 

{% block content %}  
<body>
    <main>
      <div class="logo">matter<span class="dot">.</span></div>
      <div class="text">
        <h2 data-aos="fade-up" id="mainHeader">
          Your sanctuary <br />
          awaits<span class="dot">.</span>
        </h2>
        <p data-aos="fade-up" data-aos-delay="300" class="secondaryText">
          Thank you so much for signing up! We're thrilled to have you join <br />
          our community. You're now all set to receive updates about the <br />
          latest news and events. Be sure to keep an eye on your inbox, <br />
          as we'll be sending you regular updates. We can't wait to <br />
          share all the exciting things we have in store, and we're <br />
          so glad you're a part of it!
        </p>
      </div>
    </main>
    <script>
      AOS.init();
    </script>
  </body>
{% endblock content %}
